@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.nav{
    padding: 2rem 0 ;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 8;
    transform: translate(-50%,0);
    &__wrap{
        list-style: none; 
        display: flex;
        background-color: #191919;
        border: 1px solid #373c3f;
        justify-content: center;
        width: 32.5rem;
        margin: 0 auto;
        border-radius: 3rem;
        overflow: hidden;
    }
    &__item{

    }
    &__link{
        font-size: 1.6rem;
        text-decoration: none;
        color: #caccce;
        display: block;
        padding: 1rem 1.2rem;
        text-align: center;
        font-family: "Manrope", sans-serif;
    }
    &__link.active{
        background-color: rgba($color: #000000, $alpha: .5);
        background: linear-gradient(to right, #FF8660, #9A33FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}